body {
  font-family:$primary-font;
}

.header{
  background-color: $black;
}

.header__navigation{
  float: right;
  padding: 3%;
}

.header__logo {
  padding: 7%;
}

.header__navigation__item{
  display: block;
  color: $white;
  text-decoration: none;
}

.main{
  background-color: $black;
}
.main__article{
  background-color:$white;
}
.section--architecture{
  background-color: $lightgrey;
}
.section--landscape{
  background-color: $lightgrey;
}
.aside{
background-color: $lightblue;

}
.aside__unorderedlist{
  text-align: right;
}
.aside__unorderedlist__item{
  padding:.5%;
}
.footer{
  text-align:center;
}
